<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
<!--Data Source=.;Initial Catalog=school;Integrated Security=True-->
  <connectionStrings>
    <add name="DBconnectionString" connectionString="Data Source=.;Initial Catalog=school;Integrated Security=True"/>
    <add name="ExcelconnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=d:/CourseTable.xls;Extended Properties=Excel 8.0;"/>
  </connectionStrings>
  <!--这里存放了初一，初二，初三这三个年级一周的总课时-->
  <appSettings>
    <!--初一年级最大周课时-->
    <add key="TotalCourseTimeOfGradeOne" value="40"/>
    <!--初二年级最大周课时-->
    <add key="TotalCourseTimeOfGradeTwo" value="40"/>
    <!--初三年级最大周课时-->
    <add key="TotalCourseTimeOfGradeThree" value="40"/>
    <!--建议教师一天最大教学课时-->
    <add key="MaxLimitForTakingClassPreDay" value="4"/>    
    
  </appSettings>
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

</configuration>
